<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<th:block th:replace="common/commonHead"></th:block>
<title>메인</title>
</head>
<body>
<nav class="navbar navbar-white bg-white" th:fragment="header_nav">
		<!-- Navbar content -->
		<div class="col-lg-3  col-md-6 col-sm-4 col-12 main_img">
			<a th:href="@{/org/main}"><img th:src="@{/img/orangei.png}"
				width="150px"></a>
		</div>
		<div class="col-lg-6  col-md-6 col-sm-8 col-12 header_title">
			<span class="col-4 col-sm-4"><a th:href="@{/org/battery}">Calce Battery</a></span>
			<span class="col-4 col-sm-4"><a>소개</a></span>
			<span class="col-4 col-sm-4"><a>오시는 길</a></span>
		</div>
		<div class="col-lg-3">
		</div>
	</nav>
</body>
</html>